<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
	<title>{% block title %}{% endblock %}</title>
	<style type="text/css">
		body {
			font-family: Arial, sans-serif;
		}
		
		#pagenav {
			border: 1px solid #ccc;
			padding: 4px;
			font-size: .8em;
			display: inline-block;
		}
		
		#pagenav form {
			display: inline;
		}
	</style>
</head>
<body>
	<h1>Book App</h1>
	{% block content %}{% endblock %}
	{% block footer %}
	<hr>
	<p>Created by Jennifer Morton 5/2013</p>
	{% endblock %}
</body>
</html>