{% extends "base.html" %}

{% block title %}Book App{% endblock %}

{% block content %}
<p><a href="./search/">Search for a book</a> | <a href="./upload/">Upload a book</a> | <a href="./all/">View all books</a></p>
<hr />
<p>Welcome to this super duper book readin' app.</p>
<p>What do you want to do?</p>
{% endblock %}