{% extends "base.html" %}

{% block title %}Search Results{% endblock %}

{% block content %}
<p><a href="../search/">Search for a book</a> | <a href="../upload/">Upload a book</a> | <a href="../all/">View all books</a></p>
<hr />
<p>You searched for: <strong>{{ query }}</strong></p>

{% if books %}
	<p>Found {{ books|length }} book{{ books|pluralize }}.</p>
	<ul>
		{% for book in books %}
		<li><a href="../book/{{ book.id }}/">{{ book.book_title }}</a></li>
		{% endfor %}
	</ul>
{% else %}
	<p>No books matched your search criteria.</p>
{% endif %}
{% endblock %}