{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block content %}

<p><a href="../search/">Search for a book</a> | <a href="../upload/">Upload a book</a> | <a href="../all/">View all books</a></p>
<hr />
 	{% if result %}
 	<p><b>{{ result }}</b></p>
 	{% endif %}
 	<form action="" method="post" enctype="multipart/form-data">
 		{% csrf_token %}
 		<p>{{ form.non_field_errors }}</p>
 		<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
 		<p>
<!--  			{{ form.docfile.errors }} -->
 			{{ form.docfile }}
 		</p>
 		<p><input type="submit" value="Upload" /></p>
 	</form>
 
{% endblock %}